

<div class="footer-bottom">

<div class="container">

	<div class="row">


				<div class="copyright">© Blog For Trchnology Ayoob Nazeer <a href="#home" style="color: #fff;">|  TechKie Magazine  |</a></div>




		</div>

	</div>

</div>
    <link rel="stylesheet" href="/stylesheets/main.css">

</body>
</html>