<!DOCTYPE html>

<html>
<head>
    <title>Blog</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/stylee.css">
    <link rel="stylesheet" href="/stylesheets/chocolat.css">

    <link rel="stylesheet" href="/stylesheets/main.css">



</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="/articles">GITZ TECH</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if (!currUser){ %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">SignUp</a></li>
                <% } else { %>
                <li><a href="#">Signed in as <%= currUser.username %></a></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
            
        </div>
    </div>
    
</nav>
<div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
