<!DOCTYPE html>

<html>
<head>
    <title>TechKie Magazine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/chocolat.css">

    <link rel="stylesheet" href="/stylesheets/main.css">



</head>
<body>

<div class="header">
<div class="menu" id="mn">
    <div class="container-fluid">
        		<div class="navbar-header">
			<a href="/articles">Home</a>
		</div>
    	<div>
    	 				<% if (!currUser){ %>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<li><a href="/register" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<% } else { %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li id="logSign"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
				<li id="logSign"><a href="#"><span class="glyphicon glyphicon-new-window"></span> Signed in as <%= currUser.username %></a></li>
                <% } %>
            </ul>

		</div>
	</div>
</div>

			<!--</div>-->
		</div>	    
    

<div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
