    
<% include partials/header %>


	<!--start-header-->


	<!--banner-starts-->
	<div class="banner">
		<div class="container">
			<div class="banner-top">
				<div class="banner-text">
					<h2>Welcome To</h2>
					<h1>TechKie Magazine</h1>
					<div class="banner-btn">
						<a href="/articles/new">Create A New Article</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="container">
	<div class="about-tre">
	<div class="a-1">
							           <% articles.forEach(function(article){ %>

							<div class="col-md-6 abt-left img-thumbnail" id="abt-left">
								<img src="<%= article.image %>">
								<h3><%= article.name %></h3>
								<div class="about-btn">
									<label><%= article.dateN.toDateString() %></label>
									<a href="/articles/<%= article.id %>">Read More</a>
								</div>
							</div>
							
				<% }) %> 

	</div>

	</div>

	</div>
		

					
							
							


<% include partials/footer %>  
