<% include partials/header %>


<div class="container aContainer">
    <div class="row">
        <h3 style="text-align:left">Add New Comments</h3>
        <div>
            <form action="/articles/<%= article._id %>/comments" method="POST">
            <textarea cols="77" rows="6" name="comment[text]"></textarea>

            <div class="form-group edBtn"><button class="comEdit subEdit" type="submit">Submit</button></div>
            </form>
        </div>

</div>
</div>


<% include partials/footer %>