<% include partials/header %>



<div class="container">
    <div class="row">
        <div class="comment-bottom heading">
                    <h3>Create A New Template</h3>

            <form action="/articles" method="POST" id="newForm">

						<input type="text" value="Name" name="name" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Name';}">
						<input type="text" value="image Url" name="image" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='image Url';}">
						<textarea cols="77" rows="6" value=" "  name="descriptions" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'descriptions';}">Message</textarea>
                        <button class="btn btn-lg btn-default btn-block btn-primary" type="submit">Submit</button>
            </form>

        <a href="/articles">Go Back</a>

        </div>

</div>
</div>


<% include partials/footer %>