<% include partials/header %>



<div class="container newContainer">
    <div class="row">
        <div class="comment-bottom heading">
                    <h3 id="crNew">Create A New Template</h3>

            <form action="/articles" method="POST" id="newForm">

						<input type="text" name="name" placeholder="Title">
						<input type="text" name="image" placeholder="image">
						<textarea cols="77" rows="6" value=" "  name="descriptions" placeholder="descriptions">Message</textarea>
                        <button class="btn btn-lg btn-default btn-block btn-primary" type="submit">Submit</button>
            </form>


        </div>

</div>
</div>


<% include partials/footer %>