<% include ../partials/header %>


<div class="container aContainer">
    <div class="row">
                <h3 style="text-align:left">Edit Comment</h3>

            <form action="/articles/<%= article_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <textarea cols="77" rows="6" name="comment[text]"><%= comment.text %></textarea>
            <div class="form-group edBtn"><button class="comEdit subEdit" type="submit"><strong>Submit</strong></button></div>
            </form>

</div>
</div>


<% include ../partials/footer %>
