html, body {
    height: 100%;
}


.delete-form{
    display: inline;
}

 
.coment_box[type="text"]
{
    width:800px;
    height:400px;

}

.nee{
    position: reletive;
    margin: auto 100px auto 170px;
}

.edBtn{
        margin: auto 100px auto 170px;
}

.aContainer{
    margin-right: 20px;
    margin-left: auto;

}
.showContainer {
    margin-right: 20px;
    margin-left: auto;

}

.newContainer {
    position: relative;
    margin-right: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.addCom {
	color: #fff;
	padding: 9px 42px;
	font-size: 15px;
	background:#190608;
	cursor: pointer;
	font-weight: 500;
	margin: 20px 0 0 0px;
	border: none;
	font-family: 'Lato', sans-serif;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.addCom:hover{
    background: #999;
}

.comEdit{
font-weight: 400;
color:#190608;
outline: none;
border: 1px solid #190608;
font-size: 1em;
padding: 0.6em 3em;
background:transparent;
font-family: 'Source Sans Pro', sans-serif;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}

.editBtn {
	color: #fff;
	padding: 9px 42px;
	font-size: 15px;
	background:#190608;
	cursor: pointer;
	font-weight: 500;
	margin: 20px 0 0 0px;
	border: none;
	font-family: 'Lato', sans-serif;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

#editcolor{
    color:white;
}

.comentBrdr{
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border:1px solid #999
}

#crNew {
    width: 70%;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	background-color: #BDBDBD;
	height: 200px;
	width: 200px;
	text-align: center;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 100%;
	text-align: center;
}
.custom-span{ font-family: Arial; font-weight: bold;font-size: 100px; color: #e3e6e8}
#uploadFile{border: none;margin-left: 10px; width: 200px;}
.custom-para{font-family: arial;font-weight: bold;font-size: 24px; color:#585858;}





/************************************************************
*************************Footer******************************
*************************************************************/

.footerp p {font-family: 'Gudea', sans-serif; }


.footer-bottom {
    background-color: #15224f;
    /*min-height: 30px;*/
    margin-top: 90px;
    position: relative;
    left: 0;
    bottom: 0;
    top: 15%;
    width: 100%;

}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: center;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}


/******header****************/

#mn{
background-color: #15224f;
border-bottom: 4px solid #04A3ED;
width:100%;
height: auto;
padding: 0 10px;
position: relative;
margin: 0px;
z-index: 1;
opacity: 0.9;
}


.menu  .navbar-nav >  li >  a
{
font-size: 13px;
color: white;
padding: 10px 35px;

}

li #logSign {
font-size: 13px;
color: white;
padding: 10px 35px;

} 



.menu  .navbar-nav >  li >  a:hover
{
background-color: #04A3ED;
}

.navbar-header > a
{
font-family: 'Ubuntu Condensed', sans-serif;
padding: 0px;
margin: 0px;
text-decoration: none;
color: white;
font-size: 25px;
padding: 5px 30px;
}
.navbar-header > a:hover
{
text-decoration: none;
color: #04A3ED;
}

/************************************************************
*************************Footer******************************
*************************************************************/

.img-thumbnail{
    margin-bottom: 5%;
}